@use "./base.scss";

#darkmode-toggle {
    display: none !important;
}

:root {
    color-scheme: dark;
}

button.darkmode {
    display: none !important;
}

button.readermode {
    display: none !important;
}